<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a Ph.D. Candidate and Research/Teaching Assistant at the University of Miami College of Engineering Department of Electrical and Computer Engineering.
            </p>
            <p class="paragraph-text justify-text">
                My reasrch area including Data Mining, Multimedia, Machine Learning, Artificial Intelligence, and my Google Scholar website is <a href="https://scholar.google.com/citations?user=369nl3gAAAAJ&hl=en&authuser=2&oi=ao">GoogleScholar</a>. 
            </p>
            <p class="paragraph-text justify-text">
                Our research group website at <a href="http://rvc.eng.miami.edu">DDMGroup</a> where the group post information. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
